*   {
    margin: 0;
    padding: 0;
}
.wrapper    {
    width: 1180px;
    margin: 0 auto;
}
.wrapper-lcd    {
    position: relative;
}
body    {
    font-family: 'novecento_widenormal', sans-serif;
}
p   {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 14px;
}
.navbar  {
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -590px;
}
.logo   {
    display: inline-block;
    padding-left: 0;
}
.social {
    float: right;
    padding-top: 5px;
}
.twitter    {
    background-image: url("../img/twitter.jpg");
    height: 34px;
    width: 34px;
    display: inline-block;
    border-radius: 20px;
    opacity: 0.2;
    margin-right: 5px;
}
.twitter:hover  {
    opacity: 1;
}
.fb {
    background-image: url("../img/fb.jpg");
    height: 34px;
    width: 34px;
    display: inline-block;
    border-radius: 20px;
    opacity: 0.2;
    margin-right: 5px;
}
.fb:hover   {
    opacity: 1;
}
.rss    {
    background-image: url("../img/rss.jpg");
    height: 34px;
    width: 34px;
    display: inline-block;
    border-radius: 20px;
    opacity: 0.2;
}
.rss:hover {
    opacity: 1;
}
.menu    {
    border-top: 1px solid whitesmoke;
    padding-top: 20px;
    color: white;
    margin-top: 30px;
}
.headUl  {
    color: white;
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    height: 20px;
    font-size: 18px;

}
.menuLi  {
    display: inline-block;
    padding-right: 40px;
    text-transform: uppercase;
}
.lihref {
    text-decoration: none;
    color: white;
}
.lihref:hover {
    color: #87b672;
}
.search {
    background: url("../img/search.png") no-repeat 0 0;
    height: 20px;
    width: 20px;
    float: right;
    opacity: 0.2;
}
.search:hover   {
    opacity: 1;
}
.previous   {
    background: url("../img/previous.png") no-repeat;
    height: 64px;
    width: 64px;
    display: inline-block;
    opacity: 0.2;
}
.previous:hover {
    opacity: 1;
}
.slidercontent {
    background: url("../img/header.jpg") no-repeat;
    background-size: cover;
    padding: 235px 0 168px 0;
    text-align: center;
}
.slider-title   {
    color: white;
    font-size: 36px;
}
.slidercontent-2   {
    background-image: url("../img/header2.jpg");
}

.slidercontent-3   {
    background-image: url("../img/header3.jpg");
}

.slidercontent-4   {
    background-image: url("../img/header4.jpg");
}
.next   {
    background: url("../img/next.png") no-repeat;
    height: 64px;
    width: 64px;
    display: inline-block;
    opacity: 0.2;
}
.next:hover {
    opacity: 1;
}
.deliverSpan    {
    color: #87b672;
}
.portfolio  {
    text-align: center;
    padding-bottom: 150px;
}
.portfolio p    {
    font-size: 22px;
    color: white;
    padding-left: 150px;

}

.foliohref  {
    width: 115px;
    height: 35px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    font-size: 14px;
}
.foliop {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 22px;
    color: white;
}
section {
    text-align: center;
}
.service-head {
    padding-top: 60px;
    padding-bottom: 60px;
}
.service-title {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
}
.service-title-content  {
    font-size: 16px;
    text-align: center;
    padding-left: 180px;
    padding-right: 180px;
}
.service-body    {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid lightgrey;
    text-align: center;
}
.service {
    display: inline-block;
    width: calc(33% - 114px);
    margin-right: 57px;
}
.service-mod {
    margin-right: 0;
}
.serviceH3  {
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}
.servicep   {
    text-align: center;
    padding-bottom: 30px;
}
.serviceHref    {
    text-decoration: none;
    text-align: center;
    color: #8fbb7b;
    text-transform: capitalize;
}
.works  {
    background: #efefef;
    text-align: center;
    padding-top: 60px;
}
.worksp {
    padding-bottom: 220px;
}
.work  {
    background: url("../img/mon1.png") no-repeat;
    width: 354px;
    height: 234px;
    position: relative;
    display: inline-block;
}
.work-2  {
     background-image: url("../img/mon2.png");
 }
.work-mod  {
    background-image: url("../img/mon3.png");
}
.container-works    {
    position: absolute;
    top: 50%;
    left: 5%;
}
.workplus {
    background-image: url("../img/plus.png");
    width: 260px;
    height: 149px;
    position: absolute;
    top: 7%;
    left: 13%;
    display: none;
}
.bottomtextform   {
    margin-top: 130px;
    border-top: 1px solid lightgrey;
    padding-top: 60px;
}
.bottomtextp    {
    padding-bottom: 30px;
}
.centerButton {
    background: #8fbb7b;
    color: white;
    width: 100px;
    height: 35px;
    border: 1px solid;
    margin-top: 30px;
    margin-bottom: 60px;
}
footer  {
    background: rgb(39, 39, 39);
    font-size: 0;
}
.footer-top  {
    padding-top: 80px;
    display: inline-block;
    overflow: hidden;
    height: 258px;
    box-sizing: border-box;
}
.contact   {
    display: inline-block;
    width: 37%;
    overflow: hidden;
    vertical-align: top;
    padding-right: 80px;
}
.contact-mod    {
    width: calc(63% - 80px);
    padding-right: 0;
}
.contact-mod:after {
    content: "";
    display: table;
    clear: both;
}
.contact-block  {
    display: inline-block;
    vertical-align: top;
    padding-right: 80px;
}
.contact-last   {
    padding-right: 0;
    float: right;
    width: 29%;
}
.footerlogo {
    display: inline-block;
}
.footersocial   {
    display: inline-block;
    float: right;
}
.footerP    {
    text-align: left;
    padding-top: 30px;
    color: #9b9999;
}
.foot2h5    {
    color: white;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 18px;
}
.foot2p {
    color: #9b9999;
    font-size: 14px;
    padding-bottom: 11px;
}
.footerul   {
    display: inline-block;
    color: white;
    vertical-align: top;
    list-style-position: inside;
}
.footli {
    padding-bottom: 5px;
    list-style-image: url("../img/li-type.png");
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 14px;
}
.footerhref {
    color: #9b9999;
    text-decoration: none;
}
.footerhref:hover {
    color: #87b672;
}
.foot2pp {
    padding-bottom: 25px;

}
.inputText  {
    background: #4e4c4c;
    height: 40px;
    width: 125px;
    border: 1px;
    display: inline-block;
    padding: 0 10px 0 10px;
    color: white;
    margin-right: 5px;
}
.inputButton    {
    background: #b3b2b2;
    height: 40px;
    width: 40px;
    border: 1px;
}
.foot2h5_ {
    padding-bottom: 0;
    font-size: 16px;
}
.footertwoP {
    display: inline-block;
    color: #9b9999;
    padding-top: 30px;
}
.footertwoP_right   {
    float: right;
}
.footer-bottom  {
    border-top: 1px solid grey;
    margin-top: 30px;
    padding-bottom: 30px;
}
.plusMon    {
    width: 265px;
    height: 154px;
    position: absolute;
    top: 7%;
    left: 13%;
}
.plusMon:hover  {
    background-image: url("../img/plus.png");
}
#ho_adv {
    display: none !important;
}
.fotorama__arr--prev    {
    left: 220px;
}
.fotorama__arr--next    {
    right: 220px;
}